html {
	min-height: 100vh;
}

body {
	min-height: 100vh;
	position: relative;
	overflow: auto;
	padding-bottom: 10rem; /*height of footer*/
}

#bootstrap-override {
	background-color: #efeae5;
}
/* main {
	

} */

footer {
	margin-top: auto;
	height: 10rem;
	position: absolute;
	bottom: 0;
	width: 100vw;
}

.card.collection-card {
	background-color: #efeae5;
	width: 14rem;
	height: 14rem;
}

.collection-card-img {
	height: 12rem;
	object-fit: contain;
}

.left-nav a {
	color: #f0f8ff;
}

.left-nav {
	min-width: 15rem;
	display: inline-block;
	background-color: #607b94;
	color: #efeae5;
}

#bootstrap-override .more-items {
	background-color: #607b94;
}

#bootstrap-override .collection-btn {
	color: white;
	background-color: rgba(0, 0, 0, 0.185);
}
