html {
	min-height: 100vh;
}

body {
	min-height: 100vh;
	position: relative;
	overflow: auto;
	padding-bottom: 10rem; /*height of footer*/
}

#bootstrap-override {
	background-color: #efeae5;
}
/* main {
	

} */

footer {
	margin-top: auto;
	height: 10rem;
	position: absolute;
	bottom: 0;
	width: 100vw;
}

#bootstrap-override #top-navbar {
	background-color: #2a435b;
	color: #efeae5;
}

#top-navbar .nav-link {
	color: #efeae5;
}

#bootstrap-override .top-nav-toggle {
	background-color: transparent;
	border: 1px solid #efeae5;
	color: #efeae5;
	border-radius: .25rem;
}

.collection-form {
	max-width: 30rem;
}
#bootstrap-override .form-title {
	width: fit-content;
}
.card.collection-card {
	background-color: #efeae5;
	width: 14rem;
	height: 14rem;
}

.collection-card-img {
	height: 12rem;
	object-fit: contain;
}

.left-nav a {
	color: #f0f8ff;
}

.left-nav {
	min-width: 15rem;
	display: inline-block;
	background-color: #607b94;
	color: #efeae5;
}

#bootstrap-override .more-items {
	background-color: #607b94;
}

#bootstrap-override .collection-btn {
	color: white;
	background-color: rgba(0, 0, 0, 0.185);
}
