body {
	min-height: 100%;
}

main {
	background-color: #efeae5;
}

.card.verzameling-card {
	background-color: #efeae5;
}

.left-nav a {
	color: #efeae5;
}
.left-nav {
	min-width: 15rem;
	margin-left: -12px;
	display: inline-block;
	background-color: #607b94;
	color: #efeae5;
}
